/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */
/* Poor-mans normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Container */
.inner-wrap {
  margin: 0 auto;
  width: 60%;
}
.inner-wrap-main {
  background-color: #fdffe4;
  padding: 30px 0;
  min-height: 40em;
}
.outer-wrap-header {
  background-color: #5b4b41;
}
.outer-wrap-header a {
  color: white;
}
.my-navbar {
  list-style-type: none;
  text-align: center;
  margin: 1em 1em 0;
  font-family: sans-serif;
  padding-bottom: 1em;
}
.my-navbar li {
  display: inline;
}
.my-navbar a {
  text-transform: uppercase;
  font-size: 20px;
  padding: 0.5em;
}
.outer-wrap-footer {
  background-color: #1d5937;
  color: white;
}
.outer-wrap-footer a {
  color: white;
}
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/* Poor-mans normalize */
* {
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
  background-color: #424242;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
  font: 100.01%/1 serif;
}
img {
  max-width: 100%;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
 */
/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
  display: none;
}
/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
  display: none;
}
.wrap-all {
  margin: 0 auto;
}
.outer-wrap {
  width: 100%;
}
.inner-wrap {
  margin: 0 auto;
}
.breadcrumb-list li,
.inner-wrap-main li {
  list-style-type: none;
}
.region-main {
  margin: 1em;
}
.inner-wrap-main {
  padding: 30px 0;
  min-height: 40em;
}
.inner-wrap-main .row {
  display: flex;
  flex-direction: row;
}
.article {
  font-family: sans-serif;
  min-height: 20em;
}
.figure.right {
  float: right;
  margin: 1em;
}
.article p {
  font-size: 18px;
  margin: 1em;
}
.region-sidebar-right.has-sidebar-right.has-sidebar .block {
  width: 100%;
  margin-bottom: 2em;
}
.block.toc {
  float: left;
  margin-right: 4em;
  width: 100%;
}
.next {
  float: right;
}
/* Header */
.site-logo {
  display: none;
}
.site-logo-text {
  font-size: 30px;
  font-style: italic;
}
.region-flash img {
  width: 100%;
}
.outer-wrap-header a {
  text-decoration: none;
}
.my-navbar {
  list-style-type: none;
  text-align: center;
  margin: 1em 1em 0;
  font-family: sans-serif;
  padding-bottom: 1em;
}
.my-navbar li {
  display: inline;
}
.my-navbar a {
  text-transform: uppercase;
  font-size: 18px;
  padding: 0.5em;
}
.my-navbar a:hover {
  text-decoration: underline;
}
/* byline */
.byline {
  clear: both;
  border: 1px solid;
  width: 60%;
  padding: 1em;
  overflow: auto;
  margin-top: 30px;
}
.byline img {
  width: 80px;
  float: left;
  margin: 0.5em;
}
/* footer */
.outer-wrap-footer {
  min-height: 20em;
}
.inner-wrap-footer {
  padding: 30px 0;
  text-align: center;
}
.region-footer > .block {
  padding-top: 30px;
  width: 100%;
  text-align: center;
}
.footer-column {
  display: inline-block;
  border-right: 1px solid;
  text-align: center;
  padding: 2em;
}
.footer-column:last-child {
  border-right: none;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1100px) {
  /**
     * Header
     */
  .site-logo {
    display: none;
  }
  .site-logo-text-icon {
    display: none;
  }
  .outer-wrap-header {
    width: 100%;
    padding-bottom: 1em;
  }
  /**
     * Layout
     */
  .region-main {
    margin: 1em auto;
  }
  .region-flash img {
    width: 100%;
  }
  .breadcrumb-list {
    width: 100%;
  }
  .inner-wrap-main .row {
    flex-direction: column;
  }
  .next-previous {
    margin: 0 auto;
    width: 80%;
  }
  .inner-wrap-main {
    margin: 0 auto;
    width: 100%;
  }
  .article {
    margin: 0 auto;
  }
  .article p {
    margin: 0.5em;
  }
  .stylechooser fieldset {
    margin: auto;
    width: auto;
  }
  .stylechooser select[name=stylechooser] {
    width: 70%;
  }
  .block.toc {
    display: none;
  }
  /**
     * Byline
     */
  .byline {
    margin: 0 auto;
    width: 90%;
    padding: inherit;
  }
  .byline img {
    padding: 0;
  }
  .byline p {
    padding: 0;
  }
  /**
     * Footer
     */
  .footer-column {
    display: block;
    border: none;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
